{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>About this site</h1>
            <p class="lead">My name is <a href="http://www.vikparuchuri.com">Vik Paruchuri</a>.  I have played around with Snapchat a bit in the past.  When I saw the info about the leak, I wondered if I was in it.  Luckily, I was able to download the contents of the leak and verify for myself.  Not everyone will have the time to do this.  This site was created to help full that gap, and enable people to be proactive in securing their privacy.</p>
        </div>
    </div>
{% endblock %}
